.wrapper {
    background-color: var(--white);
    border-radius: 10px;
    min-height: 100%;
    .title {
        border-bottom: 2px solid #eceff3;
        padding: 18px 24px 10px;
        line-height: 3.2rem;
        font-weight: 600;
        font-size: 1.8rem;
        letter-spacing: 0px;
        .title-span {
            display: flex;
            gap: 20px;
            .quantity {
                color: #7a92a5;
            }
        }
    }

    .contents{
        padding: 20px 24px 18px;
        display: flex;
    }
}