.wrapper {
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translateY(100%);
    min-width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;

    background: var(--black) !important;

    border-radius: 10px;
    box-shadow: 0 0 0 1px;
}
