.view {
    display: flex;
    gap: 20px;
    align-items: flex-end;
    user-select: none;
    // min-height: 36px;
    justify-content: center;
    align-items: center;
    
    .select {
        position: relative;

        min-width: 200px;

        // overflow: hidden;
        cursor: pointer;
        
    }
    
}
