.wrapper {
    .header {
        min-width: 200px;
        border-bottom: 1px solid var(--white);
    }

    .list {
        .filter-item {
            cursor: pointer;
            padding: 2px 0;
            font-size: 1.4rem;
            transition: opacity 0.3s ease;
            opacity: 0.5;
            user-select: none;
            &:hover {
                opacity: 1;
            }

            &.active {
                opacity: 1;
            }
        }
    }
}
