@import 'normalize.css';

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Roboto:wght@100;400&display=swap');

:root {
    --primary: #8355e5;
    --secondary: #cde1f8;
    --hover-btn: #5028a8;

    --black: #000000;
    --white: #ffffff;
    --text-color: #4e4e4e;
    --gray: #222122;

    --default-font-family: 'Montserrat', 'Roboto', sans-serif;
    --width-max: 1340px;
    --space-horizontal: 12px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    line-height: 1.5;
    font-family: var(--default-font-family);

    overflow-y: overlay;
    scroll-behavior: smooth;
    background-color: black;
}

a {
    text-decoration: none;
}

ul,
li {
    list-style: none;
}

p {
    font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
}

html *::-webkit-scrollbar {
    border-radius: 0;
    width: 8px;
}

html *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.15);
}

html *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(205, 189, 189, 0.43);
}

html *::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
}

html *::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
}

@media only screen and (max-width: 768px) {
    .aos-animate {
        -o-transition-property: none !important;
        -moz-transition-property: none !important;
        -ms-transition-property: none !important;
        -webkit-transition-property: none !important;
        transition-property: none !important;

        -o-transform: none !important;
        -moz-transform: none !important;
        -ms-transform: none !important;
        -webkit-transform: none !important;
        transform: none !important;

        -webkit-animation: none !important;
        -moz-animation: none !important;
        -o-animation: none !important;
        -ms-animation: none !important;
        animation: none !important;
    }
}
.ant-table-tbody > tr.ant-table-row:hover > td,
.ant-table-tbody > tr > td.ant-table-cell-row-hover {
  background-color: rgba(149, 175, 214, 0.411) !important;
}

.ant-table-tbody > tr.ant-table-row {
    
    cursor: pointer;
}

.ant-table-tbody > tr.ant-table-row > td,
.ant-table-tbody > tr > td.ant-table-cell-row-hover {
    transition: all .25s linear;
}

@font-face {
    font-family: Madefor;
    src: url(../../assets/font/WixMadeforTextRegular.otf);
    font-weight: 400;
}
@font-face {
    font-family: Madefor;
    src: url(../../assets/font/WixMadeforTextBold.otf);
    font-weight: 700;
}
